body {
  background-color: rgb(173, 142, 155);
  font-family: "Helvetica Neue", Helvetica;
  margin: auto;
  width: 50%;
}

h1 {

  text-align: center;
}

.divvo {

  
}

.grid-container {

  left: 50%;
  right: 50%;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto;
  background-color: rgb(138, 121, 134);
  padding: 10px;
}
  
.item {
  
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
}

.colord {
  background-color: lightblue;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.picker{
  
  top: 0;
  bottom: 0;
  left: 50%;
  right: 50%;
  margin: auto;
  width: 720px;
  height: 80px;
}

.subpicker{
  display: inline-block;
}
#display{
  width: 50%;
  height: 100px;
  background: #730aa2;
  transition: background 100ms;
  margin-top: 30px;
  border: 1px solid #000;
}
input{
  display: block;
  width: 100px;
}